extend layout

block content
  canvas#mainCanvas(width='1024px', height='800px')
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(type='text/javascript' src='js/circle.js')
  script(type='text/javascript' src='js/drawing_context.js')
  script(type='text/javascript' src='js/doc_ready.js')
