doctype
html
  head
    title #{title} - Circles
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Circles
    .container
      .main-content
        block content
    footer
      p Beep Boop