doctype
html
  head
    title #{title} - Circles
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet',href='/style.css',type='text/css')
  body
    header
      h1 Circles
    .container
      .main-content
        block content
    footer
      hr/
      p 
        | Made by 
        a(href='https://github.com/adriab00100') Brian Adriance